# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: SFBuild
    jobs: 
      - job: Build
        steps:
            - script: echo 'SFBuild is running'
              displayName: echo 'Run a single-line script'
            - script: |
                echo 'Multi Line -1 '
                echo 'Multi Line -2 '
              displayName: 'Run a multi-line script'  
  - stage: SFValidateAndDeploy
    jobs: 
      - job: Validate
        steps:
            - script: node -v
              displayName: checking node version
            - script: |
                echo 'y' | sf plugins install sfdx-git-delta
                sf plugin install@salesforce/sfdx-scanner
              displayName: Install required plugins
      - job: Deploy
        steps:
            - script: echo 'SFDeploy is running'
              displayName: echo 'Run a single-line script'
            - script: |
                echo 'Multi Line -1 '
                echo 'Multi Line -2 '
              displayName: 'Run a multi-line script'    
  - stage: SFTest
    jobs: 
      - job: Test
        steps:
            - script: echo 'SFDeploy is running'
              displayName: echo 'Run a single-line script'
            - script: |
                echo 'Multi Line -1 '
                echo 'Multi Line -2 '
              displayName: 'Run a multi-line script'  




